<h1>Angular</h1>
<router-outlet></router-outlet>

<app-posts> </app-posts>

<br />
<br />
<br />

<app-change-password></app-change-password>

<br />
<br />
<br />

<signup-form></signup-form>

<br />
<br />
<br />
<app-contact-form></app-contact-form>

<app-zippy title="Shipping Details">Shipping Details Content </app-zippy>

<like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>
<bootstrap-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>body</h2>
    <p>some content here...</p>
  </div>
  <div class="abody">
    <h2>body</h2>
    <p>some content here...</p>
  </div>
</bootstrap-panel>

<app-favorite
  [is-Favorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
></app-favorite>
<br />
<course></course> <br />
